.mobile-navigation-entry {
  background-color: #333;
  display: inline-block;
  flex-direction: row;
  overflow-x:auto;
  width: 33.3%;
}

.mobile-navigation-entry:hover {
  background-color: #ddd;
}
