.client-information-name{
    margin-top: 1rem;
}

.client-information-image{
    margin-right: 20px;
    height: 30%;
    width: 30%;
    float: left;
}

.client-information-card {
    font-size: 1.25rem;

}

.client-information-details {
    margin-left: 10px;
}
