.client-information-image {
    width: 70%;
    min-width: 250px;
    max-width: 500px;
    height: auto;
}

.client-information-card {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.client-information-card .name {
    margin: 0 1vw 1vh 1vw;
}

.client-information-card .details {
    margin: 1vh 1vw;
}

.client-information-card .client-information-image-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.client-information-card .client-info-body {
    flex-grow: 1;
}

.client-information-card .client-info-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 0.5rem;
}
