.page-template {
  padding-bottom: 5vh;
}

.page-template .top-container {
  margin-bottom: 3vh;
}

.page-template .bottom-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.side-navigation {
  margin: 0 3vw 0 5vw;
  height: fit-content;
}

.side-navigation .sync {
  padding-top: 5vh;
}

/* TODO: Resize HHALogo, currently too much white space on top / bottom 
         requiring the negative position */
.logo {
  margin: -40px 0;
  height: auto;
  width: 300px;
}

.top-navigation {
  position: relative;
  height: 6rem;
  width: 100%;
}

.top-navigation .style-bar {
  background-color: #56af31;
  bottom: 0;
  position: absolute;
  height: 0.5rem;
  width: 100%;
}

.page-content {
  flex-grow: 1.5;
  padding: 0 2vw;
}

.hamburger-menu {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .hamburger-menu {
    display: block;
    width: 2.5rem;
    height: auto;
  }
}

@media only screen and (max-width: 1200px) {
  .logo {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .side-navigation {
    display: none;
  }
}
