.client-information hr {
    margin: 2vh;
}

.client-information .add-button {
    margin: 0.5rem 0;
}

/* .view-all-visits-details {
    margin-top: 2rem;
}

.view-all-referrals-details {
    margin-top: 2rem;
}

.view-all-surveys-details {
    margin-top: 2rem;
} */

