.edit-client-form {
    margin-left: 2vw;
}
/* TODO: refactor img and upload banner to scale with client-image (no need for duplicate width/maxwidth/minwidth) */
.edit-client-form .client-image {
    width: 70%;
    max-width: 500px;
    position: relative;
}

.edit-client-form .client-image img {
    width: 70%;
    min-width: 250px;
    max-width: 500px;
    height: auto;
}

.edit-client-form .client-image .upload-banner {
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 250px;
    width: 70%;
    height: 5vh;
    text-align: center;
    font-size: large;
    color: white;
    background-color:grey;
    transition: 0.3s;
    opacity: 0.7;
}

.edit-client-form .client-image:hover > .upload-banner {
    opacity: 1;
}

.edit-client-form .input-field {
    margin: 2vh 1vw;
}

.edit-client-form .update-risk-button {
    margin: 1vh 0;
} 

.edit-client-form .update-disability-button {
    margin: 1vh 0;
} 

.edit-client-form .action-buttons {
    text-align: center;
    position: relative;
}

.edit-client-form .action-buttons input {
    margin: 1vh 1vw;
}
