.new-client-form {
    color: #000;
    opacity: 0.8;
}

.new-client-form .form-body {
    margin: 1rem 1rem;
}

.new-client-form .input-field-container {
    margin: 1rem 0 1rem 0;
}

.new-client-form .label-container {
    margin-bottom: 0.5rem;
}

.new-client-form .show-hide-toggle-title {
    font-size: 1.5rem;
}

.new-client-form .spinning-submit-button-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-client-form .spinning-submit-button-text .spinner {
    margin-right: 0.5rem;
}
