.check-box input {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.2rem;
}

.check-box label {
    margin-bottom: 0;
}

.check-box {
    display: flex;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

.check-box label.text-on-right {
    margin-left: 0.5rem;
}
