.client-info-card {
    display: flex;
}

.client-info-card .client-photo {
    width: 20%;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
}

.client-info-card .client-photo img {
    width: 100%;
}

.client-info-card .client-info {
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
}

.client-info-card .client-info .section {
    width: 50%;
}
