.alert-board {
    border: 0.1rem;
    margin: auto;
    padding: 1rem;
}

.alert-board .alert-board-title {
    font-size: 2rem;
}

.alert-board .messages {
    margin-top: 1rem;
}

.alert-board .add {
    margin-top: 1rem;
}
