.navigation-entry{
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    transition-duration: 0.2s;
}

.navigation-entry:hover {
    opacity: 0.5;
}

.navigation-entry .text {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.navigation-entry .icon {
    margin: auto 1vw auto 0;
}
