.navigation-entry{
    padding: 0.5vh 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.navigation-entry .text {
    text-decoration: none;
}

.navigation-entry .icon {
    margin: auto 1vw auto 0;
}