.priority-client {
    margin-top: 1rem;
}

.priority-client .client-photo-container {
    width: 50%;
    margin: auto;
    display: flex;
    justify-items: center;
}

.priority-client .client-name {
    font-size: 1.5rem;
}

.priority-client .attribute {
    margin-bottom: 0.5rem;
}

.priority-client .attribute-title {
    font-size: 1.2rem;
    margin-top: 0.3rem;
}

.priority-client .health-risk-badge {
    margin-right: 0.3rem;
}
