.priority-client {
    margin-top: 1rem;
}

.priority-client .attribute {
    margin-bottom: 0.5rem;
}

.priority-client .attribute-title {
    font-size: 1.5rem;
}

.priority-client .button-container {
    display: flex;
    justify-content: center;
}
