.risk-update-card {
    margin: 0;
    padding: 0;
}

.risk-update-card .risk-entry {
    margin-bottom: 0.5rem;
}

.risk-update-card .risk-description {
    padding-left: 1rem;
}

.risk-update-card hr {
    margin: 0 0.5vw 0.5vh;
    width: 50%;
}
