.new-referral-form {
    margin: 1rem 1rem;
    color: #000;
    opacity: 0.8;
}

.new-referral-form .input-field-container {
    margin: 1rem 0 1rem 0;
}

.new-referral-form .section.search {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.new-referral-form .search-text-input {
    margin-bottom: 0.5rem;
}

.new-referral-form .client-info-attribute {
    margin-bottom: 0.5rem;
}

.new-referral-form .attribute-key {
    font-weight: 600;
}

.new-referral-form .feedback-messages {
    margin-top: 1rem;
}

