.client-table .spinner {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.client-table .no-more-clients {
    display: flex;
    justify-content: center;
    opacity: 0.8;
}

.sortBy {
    display: flex;
    flex-direction: row;
    margin-right: 8px;
}
